<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: headerfragment"></head>
<body>
<div class="container">
    <div th:insert="nav" id="nav"></div>
    <div class="row">
        <h2>Add New Curve Point</h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{/curvePointEntity/validate}" th:object="${curvePointEntity}" method="post"
              class="form-horizontal" style="width: 100%">


        </form>
    </div>

</div>
</body>
</html>