<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="head :: headerfragment"></head>
<body>
<div class="container">
    <div th:insert="nav" id="nav"></div>
    <div class="row"><h2>Curve Point List</h2></div>
    <div class="row">
        <a href="add" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>CurvePointId</th>
                <th>Term</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="curvepoint: ${listCurvePoints}">
                <td th:text="${curvepoint.getId()}">Id</td>
                <td th:text="${curvepoint.getCurveId()}">CurvePointId</td>
                <td th:text="${curvepoint.getTerm()}">Term</td>
                <td th:text="${curvepoint.getValue()}">Value</td>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/admin/curvePoint/update/{id}(id=${curvepoint.getId()})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/admin/curvePoint/delete/{id}(id=${curvepoint.getId()})}">Delete</a>
                </td>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>