<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="head :: headerfragment"></head>
<body>
<div class="container">
    <div th:insert="nav" id="nav"></div>
    <div class="row"><h2>Curve Point List</h2></div>
    <div class="row">
        <a href="add" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>CurvePointId</th>
                <th>Term</th>
                <th>Value</th>
                <th>Action</th>
                <th>Update / Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="curvepoint: ${listCurvePoints}">
                <td th:text="${curvepoint.getId()}">Id</td>
                <td th:text="${curvepoint.getCurveId()}">CurvePointId</td>
                <td th:text="${curvepoint.getTerm()}">Term</td>
                <td th:text="${curvepoint.getValue()}">Value</td>
                <td th:text="${curvepoint.getAsOfDate()}">Action</td>
                <td>
                    <div class="btn-group" role="group">
                        <form action="#" th:action="@{/admin/curvePoint/update/{id}(id=${curvepoint.getId()})}"
                              method="get">
                            <button class="btn alert-secondary btn-sm" type="submit" value="Update"><i class="fa fa-refresh"></i></button>
                        </form>
                        <form action="#" th:action="@{/admin/curvePoint/delete/{id}(id=${curvepoint.getId()})}"
                              method="get">
                            <button class="btn btn-danger btn-sm" type="submit" value="Delete"><i class="fa fa-trash"></i></button>
                        </form>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>