<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: headerfragment"></head>
<body>
<div class="container">
    <div th:insert="nav" id="nav"></div>
    <div class="row"><h2>Rating List</h2></div>
    <div class="row">
        <a href="add" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>MoodysRating</th>
                <th>SandPRating</th>
                <th>FitchRating</th>
                <th>Order</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rating: ${listRating}">
                <td th:text="${rating.getId()}">Id</td>
                <td th:text="${rating.getMoodysRating()}">MoodysRating</td>
                <td th:text="${rating.getSandPRating()}">SandPRating</td>
                <td th:text="${rating.getFitchRating()}">FitchRating</td>
                <td th:text="${rating.getOrderNumber()}">Order</td>
                <td>
                    <div class="btn-group" role="group">
                        <form action="#" th:action="@{/admin/rating/update/{id}(id=${rating.getId()})}"
                              method="get">
                            <button class="btn alert-secondary btn-sm" type="submit" value="Update"><i
                                    class="fa fa-refresh"></i></button>
                        </form>
                        <form action="#" th:action="@{/admin/rating/delete/{id}(id=${rating.getId()})}"
                              method="get">
                            <button class="btn btn-danger btn-sm" type="submit" value="Delete"><i
                                    class="fa fa-trash"></i></button>
                        </form>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>