<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: headerfragment"></head>
<body>
<div class="container">
    <div th:insert="nav" id="nav"></div>
    <div class="row"><h2>Rating List</h2></div>
    <div class="row">
        <a href="add" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>MoodysRating</th>
                <th>SandPRating</th>
                <th>FitchRating</th>
                <th>Order</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rating: ${listRating}">
                <td th:text="${rating.getId()}">Id</td>
                <td th:text="${rating.getMoodysRating()}">MoodysRating</td>
                <td th:text="${rating.getSandPRating()}">SandPRating</td>
                <td th:text="${rating.getFitchRating()}">FitchRating</td>
                <td th:text="${rating.getOrderNumber()}">Order</td>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/admin/rating/update/{id}(id=${rating.getId()})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/admin/rating/delete/{id}(id=${rating.getId()})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>