<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: headerfragment"></head>
<body>
<div class="container">
    <div th:insert="nav" id="nav"></div>
    <div class="row"><h2>Rule List</h2></div>
    <div class="row">
        <a href="/admin/ruleName/add" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Json</th>
                <th>Template</th>
                <th>Sql</th>
                <th>SqlPart</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ruleName: ${listRuleName}">
                <td th:text="${ruleName.getId()}">Id</td>
                <td th:text="${ruleName.getName()}">Name</td>
                <td th:text="${ruleName.getDescription()}">Description</td>
                <td th:text="${ruleName.getJson()}">Json</td>
                <td th:text="${ruleName.getTemplate()}">Template</td>
                <td th:text="${ruleName.getSqlStr()}">Sql</td>
                <td th:text="${ruleName.getSqlPart()}">SqlPart</td>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/admin/ruleName/update/{id}(id=${ruleName.getId()})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/admin/ruleName/delete/{id}(id=${ruleName.getId()})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>