<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Login - Shopme Admin</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/7beae14edc.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="container-fluid text-center">
    <div>
        <img class="img-fluid" th:src="@{/images/logo.png}"/>
    </div>
    <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">

        <div th:if="${param.error}">
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>

        <div th:if="${param.logout}">
            <p class="text-success">You have been logged out.</p>
        </div>

        <div class="border border-secondary p-3 rounded">
            <p>Access to Poseidon Control Panel</p>
            <p>
                <input type="text" name="name" class="form-control" placeholder="Name" required autofocus/>
            </p>
            <p>
                <input type="password" name="password" class="form-control" placeholder="Password" required/>
            </p>
            <p>
                <input type="submit" value="Login" class="btn btn-primary"/>
            </p>
        </div>
        <h2>OR</h2>
        <a class="btn btn-primary" style="background-color: #333333;" th:href="@{/oauth2/authorization/github}"
           role="button"><i class="fab fa-github me-2"></i> Github</a>

    </form>
</div>
</body>
</html>