<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: headerfragment"></head>
<body>
<div class="container">
    <div th:insert="nav" id="nav"></div>
    <div class="row"><h2>Trade List</h2></div>
    <div class="row">
        <a href="/app/admin/trade/add" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Account</th>
                <th>Type</th>
                <th>Buy Quantity</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="trade: ${listTrade}">
                <td th:text="${trade.getId()}">Id</td>
                <td th:text="${trade.getAccount()}">Account</td>
                <td th:text="${trade.getType()}">Type</td>
                <td th:text="${trade.getBuyQuantity()}">Buy quantity</td>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/admin/trade/update/{id}(id=${trade.getId()})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/admin/trade/delete/{id}(id=${trade.getId()})}">Delete</a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>